__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/
ENV/

.env
.env.*

*.log
backend/logs/

media/
staticfiles/

backend/apps/*/migrations/*
!backend/apps/*/migrations/__init__.py

db.sqlite3

.idea/
*.iml

.DS_Store
Thumbs.db
celerybeat-schedule*